{{outlet}}

<div class="row rounded my-5 pb-5 shadow" style="background-color : #ecf0f1;">
  <div class="col">
    <div class="row shadow rounded py-2" style="background-color : #2980b9;">
      <div class="col text-center text-monospace " style="color:white;">
        <h1 class="mb-0">Construisez votre projet</h1>
      </div>
    </div>
    <div class="row my-4">
      <div class="col">
        <h2 class="m-0">Choisissez les élements à inclure : </h2>
      </div>
      <div class="col text-center">
        <h2 class="m-0">{{model.informationServicesSelectionnes}}</h2>
      </div>
    </div>

    <hr>

    <div class="row ">
      <div class="col my-5">
        {{#each model.services as |service|}}
          <div class="row my-2 justify-content-center">
            <div class="col">
              <button {{action "toggleActive" service }} type="button"
                                                         class="btn btn-primary btn-lg btn-block shadow-sm"
                                                         style="border:none; background-color: {{if service.active
                                                                                                    "#27ae60"
                                                                                                    "#bdc3c7"}}">

                <div class="row py-1">
                  <div class="col text-left">
                    {{service.name}}
                  </div>

                  <div class="col text-right">
                    {{service.price}}
                  </div>
                </div>
              </button>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="col">

        <div class="row mx-5">
          <div class="col text-left">
            <h4>Total services :</h4>
          </div>
          <div class="col text-right">
            <h4>{{model.sommeActifs}} €</h4>
          </div>
        </div>

        {{#if model.sommeActifs }}

        <hr>

        <div class="row mx-5">
          <div class="col">
            <div class="input-group mb-3">
              {{input value=model.tentativePromo type="text" class="form-control" placeholder="Code promo"
                      aria-describedby="button-addon2" }}
              <div class="input-group-append">
                <button {{action "ajouterPromo" model }} class="btn btn-success text-white border-" type="button"
                                                         id="button-addon2">Ajouter
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="row px-3">
          {{#each model.codesPromosActifs as |codeActif|}}
            <div class="col-auto px-1 py-1">
              <button {{action "supprimerCode" codeActif}} type="button"
                                                           class="btn btn-danger">{{codeActif.name}}</button>
            </div>
          {{/each}}
        </div>

        {{#if model.sommeRemises }}
          <div class="row mt-3 mx-5">
            <div class="col text-left">
              <h4>Total remises : </h4>
            </div>
            <div class="col text-right">
              <h4>{{model.sommeRemises}} €</h4>
            </div>
          </div>
        {{/if}}


        <hr>

        <div class="row mx-5">
          <div class="col text-left">
            <h4>Total : </h4>
          </div>
          <div class="col text-right">
            <h4>{{model.sommeAvecRemise}} €</h4>
          </div>
        </div>

        {{/if}}

      </div>


    </div>

  </div>
</div>
